
<style>

/*The GPlay scraper response for "whats new" needs to have some elements hidden for a better appearance*/
h1.heading {
   visibility: hidden;
   font-size: 0.1%;
}
button.play-button {
   visibility: hidden;
   font-size: 0.1%;
}

.table th {
   text-align: center;
}
.centered {
   text-align: center;
}
.table tbody tr td {
   vertical-align: middle;
}

</style>


<div class="page-header">
  <h3>
    <img src="<%= @app.versions.last.app_icon_url %>" width=80> <%= @app.versions.last.app_name %>
  </h3>
  <p><i class="fa fa-info-circle"></i> Tracking history begins once an app is first added to database, either by you or another user</p>
  <% if @app.os == "android" %>
   <p><i class="fa fa-info-circle"></i> A new Android version record is created whenever an app publisher modifies the APK configuration. This includes staged rollout actions and changing supported devices/operating systems. This is why you might see a sequence of several records where the version and release notes are the same</p>
   <% else %>
   <p><i class="fa fa-info-circle"></i> *iOS "Updated Date" is not available in the API response so it is set based on when the version record is created. Since all Apps are processed through the API daily this means the date will typically be accurate, however for newly added apps the "Updated Date" may not be accurate</p>
   <% end %>
</div>

<div class='container'>
  <div class='row'>

  </div>

  <div class='row'>
    <table class='table'>
      <thead>
        <tr>
          <th>Updated</th>
          <th>Version</th>
          <th>Release Notes</th>
          <th>Cumulative Rating at Release</th>
        </tr>
      </thead>
      <tbody>
      <% @app_versions.sort_by(&:created_at).reverse.each do |version| %>
        <tr>
          <td class='centered'>
            <%= version.updated_date.strftime('%B %e, %Y ') %>
          </td>
          <td class='centered'>
          <%= version.current_version %>
          </td>
          <td>
            <%=  sanitize version.whats_new %>
          </td>
          <td class='centered'>
            <%= version.rating %>
          </td>
        </tr>
      <% end %>
      </tbody>


    </table>
  </div>
</div>
