<style>
.table th {
   text-align: center;
}
.td-centered {
   text-align: center;
}
.table tbody tr td {
   vertical-align: middle;
}
</style>

<div class="page-header">
  <h3>
    Your Tracked Apps
  </h3>
  <p><i class="fa fa-refresh"></i> App records are refreshed nightly </p>
</div>

<!-- <a href="/refresh_list"> Refresh List </a> -->

<div class="container">
  <div class="row isotope-container">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <%= image_tag "android.png", width:"100"%>
        </div>
        <div class ='table-responsive'>
          <table class="table">
            <thead>
              <tr>
                <th> </th>
                <th>App Name</th>
                <th>Market</th>
                <th>Current Version</th>
                <th>Updated Date*</th>
                <th class='col-sm-1'>Details</th>
                <th class='col-sm-1'>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
            <% if @all_user_apps.last.nil? %>
              <td colspan="7" class="td-centered">
              <a href="/add_app">
              Add Android Apps!
              </a>
              </td>
              <% else %>
            <% @all_user_apps.where({:os => "android"}).each do |app|  %>
                              <td ><img src="<%= app.versions.last.app_icon_url %>" width=40></td>
                <td><%= app.versions.last.app_name %></td>
                <td><%= app.versions.last.market %></td>
                <td><%= app.versions.last.current_version %></td>
                <td><%= app.versions.last.updated_date.strftime('%B %e, %Y ') %></td>
                <td>
                  <div class="btn-group btn-group-justified" width=10px>
                    <a href="/app_details/<%= app.id %>" class="btn btn-primary">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="btn-group btn-group-justified">
                    <a href="/delete_app/<%= app.id %>" class="btn btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
      <p>*A new Android version record is created whenever an app publisher modifies the APK configuration. This includes staged rollout actions and changing supported devices/operating systems. This is why you might see a sequence of several records where the version and release notes are the same. </p>

    </div>


    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <%= image_tag "ios.png", width:"100"%>
        </div>
        <div class ='table-responsive'>
          <table class="table">
            <thead>
              <tr>
                <th> </th>
                <th align='center'>App Name</th>
                <th>Market</th>
                <th>Current Version</th>
                <th>Updated Date*</th>
                <th class='col-sm-1'>Details</th>
                <th class='col-sm-1'>Delete</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <% if @all_user_apps.last.nil? %>
              <td colspan="7" class="td-centered">
              <a href="/add_app">
              Add iOS Apps!
              </a>
              </td>
              <% else %>
            <% @all_user_apps.where({:os => "ios"}).each do |app|  %>
                <td><img src="<%= app.versions.last.app_icon_url %>" width=40></td>
                <td><%= app.versions.last.app_name %></td>
                <td><%= app.versions.last.market %></td>
                <td><%= app.versions.last.current_version %></td>
                <td><%= app.versions.last.updated_date.strftime('%B %e, %Y ') %></td>
                <td>
                  <div class="btn-group btn-group-justified">
                    <a href="/app_details/<%= app.id %>" class="btn btn-primary">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="btn-group btn-group-justified">
                    <a href="/delete_app/<%= app.id %>" class="btn btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
         </table>

       </div>

      </div>
        <p>*iOS "Updated Date" is not available in the API response so it is set based on when the version record is created. Since all Apps are processed through the API daily this means the date will typically be accurate, however for newly added apps the "Updated Date" may not be accurate</p>
    </div>
  </div>
</div>



