<style>
.table td {
   text-align: center;
}
.table th {
   text-align: center;
}
</style>


<div class="page-header">
  <h3>
    10 Day Summary
  </h3>
</div>

<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Android App Updates*</th>
        <th>iOS App Updates</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><%= @today.strftime('%m/%d/%y') %></td>
        <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @today.beginning_of_day..@today.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @today.beginning_of_day..@today.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
      </tr>
      <tr>
      <td><%= @yesterday.strftime('%m/%d/%y') %></td>
        <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @yesterday.beginning_of_day..@yesterday.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @yesterday.beginning_of_day..@yesterday.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
      </tr>
      <tr>
        <td><%= @twodaysago.strftime('%m/%d/%y') %></td>
        <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @twodaysago.beginning_of_day..@twodaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @twodaysago.beginning_of_day..@twodaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
      </tr>
      <tr>
        <td><%= @threedaysago.strftime('%m/%d/%y') %></td>
        <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @threedaysago.beginning_of_day..@threedaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @threedaysago.beginning_of_day..@threedaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
      </tr>
      <tr>
        <td><%= @fourdaysago.strftime('%m/%d/%y') %></td>
        <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @fourdaysago.beginning_of_day..@fourdaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @fourdaysago.beginning_of_day..@fourdaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
      </tr>
      <tr>
        <td><%= @fivedaysago.strftime('%m/%d/%y') %></td>
        <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @fivedaysago.beginning_of_day..@fivedaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @fivedaysago.beginning_of_day..@fivedaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
      </tr>
      <tr>
        <td><%= @sixdaysago.strftime('%m/%d/%y') %></td>
        <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @sixdaysago.beginning_of_day..@sixdaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @sixdaysago.beginning_of_day..@sixdaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
      </tr>
            <tr>
        <td><%= @sevendaysago.strftime('%m/%d/%y') %></td>
          <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @sevendaysago.beginning_of_day..@sevendaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @sevendaysago.beginning_of_day..@sevendaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
          </td>
      </tr>
                  <tr>
        <td><%= @eightdaysago.strftime('%m/%d/%y') %></td>
          <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @eightdaysago.beginning_of_day..@eightdaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @eightdaysago.beginning_of_day..@eightdaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
          </td>
      </tr>
            </tr>
                  <tr>
        <td><%= @ninedaysago.strftime('%m/%d/%y') %></td>
          <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @ninedaysago.beginning_of_day..@ninedaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @ninedaysago.beginning_of_day..@ninedaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
          </td>
      </tr>
            </tr>
                  <tr>
        <td><%= @tendaysago.strftime('%m/%d/%y') %></td>
          <td>
          <% @android_apps.each do |app| %>
          <% app.versions.where(:updated_date => @tendaysago.beginning_of_day..@tendaysago.end_of_day).each do |version|
         %>
          <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
        </td>
        <td>
          <% @ios_apps.each do |app| %>
          <% app.versions.where(:updated_date => @tendaysago.beginning_of_day..@tendaysago.end_of_day).each do |version|
         %>
         <a href="/app_details/<%=app.id %>">
          <img src="<%= version.app_icon_url %>" width=40>
          </a>
        <% end %>
        <%end %>
          </td>
      </tr>
    </tbody>
  </table>
  <p>*During Google Play staged rollouts a new version is registered whenever the
</div>
