<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>App</th>
        <th>Version Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= @today.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
      <tr>
      <th><%= @yesterday.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
      <tr>
        <th><%= @twodaysago.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
      <tr>
        <th><%= @threedaysago.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
      <tr>
        <th><%= @fourdaysago.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
      <tr>
        <th><%= @fivedaysago.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
      <tr>
        <th><%= @sixdaysago.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
            <tr>
        <th><%= @sevendaysago.strftime('%m/%d/%y') %></th>
        <th>Orbitz + Logo</th>
        <th>5.1.1</th>
      </tr>
    </tbody>
  </table>
</div>
