<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mobile App Tracking</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=kreon' rel='stylesheet' type='text/css'>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="icon" href="https://www.survivalmonkey.com/attachments/ninja-ninja-shinobi-japan-smiley-emoticon-000728-large-gif.32785/" type="image/x-icon">
<style>
body
{
    font-family: 'kreon', sans-serif;
}

</style>
</head>
<body>


  <nav class="navbar navbar-default" ">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>
        <a href="/" class="navbar-brand">Mobile App Tracking</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/history">
              <span>10 Day Summary</span>
            </a>
          </li>
          <li>
            <a href="/apps_tracked">
              <span>All Apps Tracked</span>
            </a>
          </li>
          <li>
            <a href="/add_app">
              <span>Track New App</span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user != nil %>

            <li>
              <a href="/users/edit">
                <span class="hidden-sm"><%= current_user.email %></span>
              </a>
            </li>
            <li>
              <a href="/users/sign_out" data-method="delete" rel="nofollow">
                <span>Sign out</span>
              </a>
            </li>
          <% else %>
            <li>
              <a href="/users/sign_up">
                <span>Sign up</span>
              </a>
            </li>
            <li>
              <a href="/users/sign_in">
                <span>Sign in</span>
              </a>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
<footer>
<%= render 'layouts/footer' %>
</footer>
</html>
